<h1>Editing sauce</h1>

<%= form_for :sauce, url: sauce_path(@sauce), method: :patch do |f| %>

  <% if @sauce.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sauce.errors.count, "error") %> prohibited
        this sauce from being saved:
      </h2>
      <ul>
        <% @sauce.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Edit', edit_sauce_path(@sauce) %>
<%= link_to 'Back', sauces_path %>
