<h1>
  SAUCES INDEX
</h1>

<div >
  <ul>
    <% @sauces.each do |sauce| %>
      <li class="sauce-link">
        <%= link_to "#{sauce.name}", sauce %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= form_for :sauce, url: sauces_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
