<h1>
  SAUCES INDEX
</h1>

<table>
  <% @sauces.each do |sauce| %>
    <tr>
      <td><%= link_to "#{sauce.name}", sauce_path(sauce) %></td>
      <td><%= link_to 'edit', edit_sauce_path(sauce) %></td>
      <td><%= link_to 'remove' %></td>
    </tr>
  <% end %>
</table>


<form>
  <div class="row">
    <div class="large-4 columns">
      <label>Sauce Name
        <input type="text" placeholder="" />
      </label>
    </div>

    <div class="large-8 columns">
      <label>Description
        <input type="text" placeholder="a short sentence or two" />
      </label>
    </div>

  </div>

  <div class="row">
    <div class="large-3 columns">
      <label>Matching Protein
        <select>
          <option value="poultry">Poultry</option>
          <option value="beef">Beef</option>
          <option value="pork">Pork</option>
          <option value="fish">Fish</option>
          <option value="legumes">Legumes</option>
          <option value="egg">Egg</option>
        </select>
      </label>
    </div>

    <div class="large-6 columns">
      <a href="#" class="button">Save New Sauce</a>
    </div>
  </div>
</form>

<!--


<div>
  <%= form_for :sauce, url: sauces_path, html: {:class => 'large-4 columns'} do |f| %>
    <div class="row">
      <p>
        <div class="large-4 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </p>

      <p>
        <div class="large-8 columns"
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
      </p>
    </div>

    <div class="row">
      <p>
        <%= f.submit %>
      </p>
    </div>
  <% end %>
</div> -->
