<h1>
  SAUCES INDEX
</h1>

<table>
  <% @sauces.each do |sauce| %>
    <tr>
      <td><%= link_to "#{sauce.name}", sauce_path(sauce) %></td>
      <td><%= link_to 'edit', edit_sauce_path(sauce) %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= form_for :sauce, url: sauces_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
