<h1>
  New sauce form stuff will be here
</h1>

<%= form_for :sauce do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
