<div>
  <%= link_to "list of sauces", sauces_path %>
</div>

<div>
  <h2>
    <%= @sauce.name %>
  </h2>
</div>

<div>
  <h4>
    <%= @sauce.description %>
  </h4>
</div>

<div class="vcard">
  <ul class="vcard">
    <% @sauce.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
    <% end  %>
  </ul>
</div>

<br>
</br>

<div class="panel callout radius">
  <ol>
    <% @sauce.recipe_steps.each do |step| %>
      <li>
        <%= step %>
      </li>
    <% end  %>
  </ol>
</div>
