<h1>
  PROTEINS INDEX
</h1>

<table>
  <% @proteins.each do |protein| %>
    <tr>
      <td><%= link_to "#{protein.name}", protein_path(protein) %></td>
      <td><%= link_to 'edit', edit_protein_path(protein) %></td>
      <td><%= link_to 'remove' %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= form_for :protein, url: proteins_path do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
