<h1>
  PROTEINS INDEX
</h1>

<div >
  <ul>
    <% @proteins.each do |protein| %>
      <li class="protein-link">
        <%= link_to "#{protein.name}", protein %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= form_for :protein do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
